# Python
__pycache__/
*.pyc
*.pyo

# Virtual environment
venv/
.venv/

# Model checkpoints
*.pt
*.pth

# Editor files
*~
.vscode/
.idea/

checkpoint.txt
perf-*.data
perf-*.data.old

# Generated dataset files
data/*.bin

# Generated Gutenberg corpus
data/gutenberg-corpus/

# Prepared datasets
data/gutenberg/*.bin

# Checkpoints
checkpoints/

